html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #219ab3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #11505d;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  outline: 0;
  padding: 0;
  margin-bottom: 0;
  border-bottom: 0;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  background: 0 0;
  background-color: transparent;
  color: #FFFFFF;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.navbar-custom .top-nav-collapse {
  padding: 0;
  color: #FFFFFF;
  background: #2e7bcf url(../img/header.jpg) 0 0 repeat-x;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 20px;
  color: #FFFFFF;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
  color: #219ab3;
  background: #2e7bcf url(../img/header.jpg) 0 0 repeat-x;
}
.navbar-custom a {
  color: #FFFFFF;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: 0;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .nav li {
    outline: 0;
    color: #FFFFFF;
    background: #2e7bcf url(../img/header.jpg) 0 0 repeat-x;
  }
  .top-nav-collapse {
    padding: 0;
    background: #2e7bcf url(../img/header.jpg) 0 0 repeat-x;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background: #2e7bcf url(../img/header.jpg) 0 0 repeat-x;
  }
}
.intro {
  border-bottom: 0;
  display: table;
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
  color: #FFFFFF;
  background: url(../img/intro.jpg) no-repeat bottom center scroll;
  background-color: transparent;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
@media (min-width: 768px) {
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro .intro-body .intro-text {
    font-size: 25px;
  }
}
.oquefaz-section {
  background-color: #E6E6FA;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.download-section {
  background-color: #E6E6FA;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 768px) {
  .download-section {
    padding: 100px 0;
  }
}
.numbers-section {
  background: url(../img/office.jpg) no-repeat bottom center scroll;
  background-color: #E6E6FA;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: blur(5px) brightness(50%);
  -moz-filter: blur(5px) brightness(50%);
  -o-filter: blur(5px) brightness(50%);
  -ms-filter: blur(5px) brightness(50%);
  filter: blur(5px) brightness(50%);
}
@media (min-width: 768px) {
  .numbers-section {
    padding: 100px 0;
  }
}
.fale-section {
  background-color: #E6E6FA;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 3px solid #FFFFFF;
  border-radius: 35px;
  font-size: 40px;
  color: #FFFFFF;
  background: 0 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
@media (min-width: 768px) {
  .content-section {
    padding-top: 250px;
  }
}
@media (min-width: 768px) {
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.btn-default {
  border: 0px solid #2e7bcf;
  color: #2e7bcf;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 0px solid #2e7bcf;
  outline: 0;
  color: #000000;
  background-color: #2e7bcf;
}
.btn-install {
  border: 0px solid #2e7bcf;
  color: #2e7bcf;
  background-color: transparent;
}
.btn-install:hover,
.btn-install:focus {
  border: 0px solid #2e7bcf;
  outline: 0;
  color: #000000;
  background-color: #ABCBE5;
}
.btn-xlarge {
  padding: 18px 28px;
  font-size: 58px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 10px 0;
  background-color: #E6E6FA;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
footer p {
  margin: 0;
  font-size: 15px;
}
::-moz-selection {
  text-shadow: none;
  background: #ABCBE5;
}
::selection {
  text-shadow: none;
  background: #ABCBE5;
}
img::selection {
  background: 0 0;
}
img::-moz-selection {
  background: 0 0;
}
.pagseguro {
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  background: #FFFFFF;
  width: 200px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.pagseguro:hover,
.pagseguro:focus {
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  width: 235px;
}
p.left {
  text-align: left;
}
p.spaceless {
  margin: 0;
}
.feature_list {
  padding-top: -20px;
  clear: both;
}
.feature_list ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}
.feature_list li {
  margin-left: 15px;
  list-style-position: inside;
  list-style: circle;
}
.columnbox {
  -moz-column-count: 1;
  -moz-column-gap: 1em;
  column-count: 1;
  column-gap: 1em;
  -webkit-column-count: 1;
  -webkit-column-gap: 1em;
}
.rxPrice {
  border: 0px solid #2e7bcf;
  color: #000000;
  background-color: transparent;
  font-size: 45pt;
  font-weight: bold;
  text-align: center;
}
#svg-map text {
  fill: #fff;
  font: 12px Arial-BoldMT, sans-serif;
}
#svg-map a {
  text-decoration: none;
}
#svg-map .circle {
  fill: #2e7bcf;
}
/** Planos **/
.planos {
  background: #1e2c35;
}
.planos h2 {
  color: #FFFFFF;
}
.plano {
  background: #FFFFFF;
  width: 18em;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;
}
.plano:hover {
  background: #dedede;
}
.plano h3 {
  color: #fff;
  font-size: 1.8em;
  background: #2e7bcf;
  text-align: center;
  height: 2em;
  padding-top: .6em;
  margin-top: 0;
}
.plano div {
  text-align: center;
  color: #2e7bcf;
  font-size: 2.75em;
}
.plano button {
  background: #2e7bcf;
  border: 0px solid #2e7bcf;
  color: #FFFFFF;
  width: 210px;
  height: 38px;
  font-size: 1.8em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  margin-left: 0em;
}
.plano-preco {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.itens-plano {
  padding-left: 1.2em;
}
.itens-plano li {
  font-size: 1em;
  list-style: none;
  border-bottom: 1px solid #acacac;
  padding: .5em;
  width: 14.8em;
}
.itens-plano li:last-child {
  border: 0;
}
.itens-plano span {
  float: right;
}
.icone-check,
.icone-x {
  background: url(../img/sprite.png) no-repeat;
  width: 18px;
  height: 18px;
}
.icone-check {
  background-position: -5px -5px;
}
.numeros {
  background: #FFFFFF;
  width: 18em;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;
}
.numeros:hover {
  background: #dedede;
}
.numeros h4 {
  color: #fff;
  font-size: 1.2em;
  background: #2e7bcf;
  text-align: center;
  height: 4em;
  padding-top: .6em;
  margin-top: 0;
}
.numeros div {
  text-align: center;
  color: #2e7bcf;
  font-size: 2.8em;
}
.numeros-number {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.assinatura {
  background: #dedede;
  width: 18em;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;
}
.assinatura h3 {
  color: #fff;
  font-size: 1.8em;
  background: #2e7bcf;
  text-align: center;
  height: 2em;
  padding-top: .6em;
  margin-top: 0;
}
.assinatura div {
  text-align: center;
  color: #2e7bcf;
  font-size: 2.75em;
}
.assinatura button {
  background: #2e7bcf;
  border: 0px solid #2e7bcf;
  color: #FFFFFF;
  width: 210px;
  height: 38px;
  font-size: 1.8em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  margin-left: 0em;
}
.assinatura-preco {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.rotate {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
}
.rotate:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.button-pagseguro {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -webkit-animation: shake 2s;
  -moz-animation: shake 2s;
  animation: shake 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-moz-keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
